<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="gapp.quizdrapeauxcapitales">

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/iconapp"
        android:label="@string/app_name">
        <activity
            android:name=".IknowActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="recherche"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            ></activity>
        <activity android:name="jeuxpays"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            ></activity>
        <activity android:name="jeuxcapitale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            ></activity>
        <service android:name="music"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            ></service>

        <activity android:name="resultat"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            ></activity>
    </application>

</manifest>
